$disable-color: #999898;
.permit-type-component {
  border-top: 4px solid var(--color-coat-of-arms);
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  padding: var(--spacing-xl);
  .time-period {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    .month-selection,
    .date-selection {
      padding-top: var(--spacing-s);
      padding-right: var(--spacing-3-xl);
    }
    &.with-bottom-border {
      border-bottom: 2px solid var(--color-black-20);
    }
    .disabled {
      color: $disable-color;
    }
    .date-selection {
      input[readonly] {
        background-color: var(--input-background-default);
        border: var(--border-width) solid var(--input-border-color-default);
        color: var(--input-color-default);
        padding: 0 var(--spacing-s);
        cursor: default;
      }
      input[disabled] {
        background-color: var(--input-background-disabled);
        color: var(--input-color-disabled);
        cursor: not-allowed;
        border: 0;
      }
    }
  }
}
