#
# Test pipeline. Run build and deploy for Platta test environments. 
# Pipeline runs different tests e.g. unittest and browser tests.
#
# Continuous integration (CI) triggers cause a pipeline to run whenever you push 
# an update to the specified branches or you push specified tags.
trigger:
  batch: true
  branches:
    include:
    - main
  paths:
    exclude:
    - README.md
    - CHANGELOG.md

# By default, use self-hosted agents
pool: Default

# Opting out of pull request validation
pr: none

resources:
  repositories:
  # Azure DevOps repository
  - repository: pysakoinnin-verkkokauppa-pipelines
    type: git
    # project/repository
    name: pysakoinnin-verkkokauppa/pysakoinnin-verkkokauppa-pipelines

extends:
  template: azure-pipelines-pysakoinninverkkokauppa-frontend-test.yml@pysakoinnin-verkkokauppa-pipelines
