@import '../../assets/styles/mixin';

.address-selector-component {
  .no-address{
    margin-top: 0;
  }
  .addresses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    & > div {
      flex-basis: calc(50% - 70px);
      @include for-phone {
        flex-basis: 100%;
      }
    }
    :last-of-type {
      @include for-phone {
        margin-top: var(--spacing-s);
      }
    }
    &.hasOnlyPrimaryAddress > div {
      flex-basis: 100%;
    }
    @include for-phone {
      flex-basis: 100%;
    }
  }
}
