@import '../../assets/styles/mixin';
.permit-prices-component {
  @include for-desktop {
    .not-in-desktop {
      display: none;
    }
    .permit-info {
      max-width: 50%;
    }
  }
  @include for-phone {
    .not-in-phone {
      display: none;
    }
  }
  .permit-info {
    margin-bottom: var(--spacing-s);
  }
  .offer-container {
    display: flex;
    justify-content: space-between;
    @include for-phone {
      flex-direction: column;

      & > .offer:not(:last-of-type) {
        margin-bottom: var(--spacing-s);
      }
    }
    .offer {
      @include for-desktop {
        flex-basis: calc(50% - 8px);
      }
      &:last-of-type {
        @include for-desktop {
          margin-left: var(--spacing-3-xs);
        }
      }
      & > .card {
        height: calc(80% - 48px);
        display: flex;
        cursor: pointer;
        @include for-phone {
          flex-direction: column;
          align-items: center;
        }
        .car-details {
          display: flex;
          flex-direction: column;
          margin-left: var(--spacing-xs);
          @include for-phone {
            margin-left: 0;
          }
          align-items: normal;
        }
        .registration-number {
          margin-bottom: var(--spacing-2-xs);
          @include for-phone {
            margin-top: var(--spacing-2-xs);
          }
        }
        .registration-number,
        .price .offer {
          font-size: var(--fontsize-heading-s);
          font-weight: bold;
        }
        .emission-level {
          font-size: 0.75rem;
          margin: var(--spacing-2-xs) 0;
          padding: 6px 6px 4px;
          border-radius: 16px;
        }
        .low-emission {
          background: var(--color-fog);
        }
        .high-emission {
          background: var(--color-black-20);
        }
        &.multiple {
          border-top: 4px solid var(--color-black-10);
          &.selected {
            border-top: 4px solid var(--color-coat-of-arms);
          }
        }
        .price {
          display: flex;
          align-items: center;
          margin: var(--spacing-2-xs) 0;
          white-space: nowrap;
          @include for-phone {
            flex-direction: column;
          }
          & > div {
            margin-right: var(--spacing-s);
            &:last-of-type {
              margin-right: 0;
            }
          }
          & > div.invalid {
            text-decoration: line-through;
          }
        }
      }
      .vehicle-copyright {
        font-size: var(--fontsize-body-s);
      }
      .action-delete {
        display: flex;
        height: 20%;
        justify-content: center;
        background: var(--color-white);
        border-top: 1px solid var(--color-black-20);
      }
      .registration-number,
      .car-model {
        @include for-phone {
          text-align: center;
        }
      }
    }
  }
}
