.permit-component {
  .card {
    .pp-list, .message {
      display: flex;
      align-items: center;
      padding: var(--spacing-xs) 0;
      & > div {
        margin-left: var(--spacing-s);
      }
      .pp-list {
        &__title{
          font-weight: bold;
        }
        &__subtitle{
          color: var(--color-black-60);
          display: flex;
          & > span {
            margin-right: var(--spacing-s);
          }
        }
        &__icon {
          width: 24px;
          height: 24px;
          background: blue;
          color: white;
          line-height: 24px;
          border-radius: 50%;
          text-align: center;
        }
      }
    }
    .message {
      border-top: 1px solid var(--color-black-20);
    }
    .document-icon {
      width: 24px;
      height: 24px;
      background: var(--color-success);
      border-radius: 50%;
      text-align: center;
      .icon{
        transform: scale(0.7);
      }
    }
  }
}
