.address-label-component {
  .headers {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--spacing-xs);
    .zone__type__symbol {
      margin-right: var(--spacing-xs);
      min-width: 42px;
    }
    &__label {
      display: flex;
      flex-direction: column;
      font-size: var(--fontsize-heading-xs);
      &__sub_label {
        margin-bottom: var(--spacing-2-xs);
        color: var(--color-black-40);
      }
    }
  }
}
