@import '../../assets/styles/mixin';

.address-component {
  border-top: 4px solid var(--color-black-10);
  &.selected {
    border-top: 4px solid var(--color-coat-of-arms);
  }
  .address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-black-20);
    padding: var(--spacing-2-xs) 0;
    &__headers {
      display: flex;
      flex-direction: column;
      font-size: var(--fontsize-heading-xs);
      &__sub_header {
        margin-bottom: var(--spacing-2-xs);
        color: var(--color-black-40);
      }
    }
  }
  .zone_type {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-s) 0;
  }
}
