@import '~open-city-design/src/scss/helsinki/colors';
@import '../../assets/styles/mixin';

.address-component {
  width: min-content;
  border-top: 6px solid $hel-gray;
  padding: var(--spacing-s);
  @include for-phone {
    &:not(:last-of-type) {
      margin-bottom: var(--spacing-l);
    }
  }
  &.selected {
    border-top: 6px solid $hel-coat;
  }
  .address {
    &__type {
      border-bottom: 1px solid $hel-gray;
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding: var(--spacing-2-xs) 0;
      &__symbol {
        width: 30px;
        height: 30px;
        background: $hel-coat;
        text-align: center;
        color: $hel-white;
        border-radius: 50%;
        line-height: 30px;
      }
      label {
        font-weight: normal;
      }
    }
    .accordion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-2-xs) 0;
      &__headers {
        display: flex;
        flex-direction: column;
        &__sub_header {
          color: $hel-dark;
        }
      }
    }
  }
}
