.valid-permit-component {
  .hds-button-danger {
    border-color: var(--color-error);
    .trash-icon {
      color: var(--color-error);
    }
    &.processing {
      border-color: inherit;
      .trash-icon {
        color: inherit;
      }
    }
  }
  .vehicleChanged, .addressChanged {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);
  }
  .leaflet-container {
    height: 25em;
  }
}
