@import '../../assets/styles/mixin';
.vehicle-selector-component {
  .zone__type{
    margin: var(--fontsize-heading-l) 0;
  }
  .discount {
    background: var(--color-coat-of-arms-light);
    margin-top: var(--spacing-s);
    padding: 4px;
  }

  .notification:not(:first-of-type) {
    margin-top: var(--spacing-s);
  }
}
