@import '../../assets/styles/mixin';

.parking-permit-hero {
  margin-top: 4rem;
  margin-bottom: 3rem;
  .parking-permit-hero__title {
    font-size: 3.25rem;
    height: 3.25rem;
    line-height: 3.25rem;
  }
}
