@import '../../assets/styles/mixin';

.parking-permit-hero {
  margin-top: 4rem;
  margin-bottom: 3rem;
  .parking-permit-hero__title {
    font-size: 3.25rem;
    height: 3.25rem;
    line-height: 3.25rem;
    @include for-phone {
      font-size: 2rem;
    }
  }
  @include for-phone {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}
