@import '../../assets/styles/mixin';

.landing-page {
  .login-button {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);
    width: 100%;
  }
}

.logout-button {
  margin-top: var(--spacing-l);
}
