.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-black-5);
  > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
  }
}
