@import '~leaflet/dist/leaflet.css';
@import 'typography';
@import 'mixin';
@import url('https://makasiini.hel.ninja/delivery/HelsinkiGrotesk/HelsinkiGrotesk.css');

body {
  font-family: var(--font-default);
  font-size: var(--fontsize-body-m);
  color: var(--color-black-90);
  line-height: var(--lineheight-l);
}

#hds-mobile-menu {
  z-index: 9999;
}
#root {
  background: var(--color-black-5);
}
[class^='Button-module_label'] {
  display: flex;
  align-items: center;
  justify-content: center;
  span + svg,
  svg + span {
    margin-left: var(--spacing-s);
  }
}
[class^='Card-module_card'] {
  @include for-phone {
    padding: 16px !important;
  }
}

.zone {
  &__type {
    display: flex;
    align-items: center;
    &__label {
      font-size: 16px;
      font-weight: bold;
      margin-left: var(--spacing-s);
    }
    &__symbol {
      height: 42px;
      width: 42px;
      line-height: 42px;
      font-size: 20px;
      text-align: center;
      font-weight: 500;
      background: var(--color-coat-of-arms);
      color: var(--color-white);
      border-radius: 50%;
    }
  }
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin: var(--spacing-xl) 0;
  @include for-phone {
    flex-direction: column;
    justify-content: flex-start;
    margin: var(--spacing-l) 0;
  }
  .action-btn {
    margin-left: var(--spacing-l);
    &:last-of-type {
      margin-left: 0;
    }
    @include for-phone {
      margin-left: 0;
      width: 100%;
      &:last-of-type {
        margin-top: var(--spacing-s);
      }
    }
  }
}

.custom-radio-btn {
  --icon-color-selected: var(--color-coat-of-arms);
  --border-color-selected: var(--color-coat-of-arms);
}
.leaflet-bottom,
.leaflet-top {
  z-index: auto;
}
.divider {
  border-top: 1px solid var(--color-black-20);
  height: 1px;
  margin: var(--spacing-s) 0;
  width: 100%;
}
