@import '../../assets/styles/mixin';

.address-selector-component {
  .addresses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    & > div {
      flex-basis: calc(50% - 70px);
    }
  }
}
