@import '../../assets/styles/mixin';

.front-page {
  .loading-spinner {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .only-for-mobile {
    @include for-desktop {
      display: none !important;
    }
  }
}
