@import '../../assets/styles/mixin';

.refund-container {
  .summary {
    font-size: var(--fontsize-body-xl);
    margin-bottom: var(--spacing-s);
  }
  .row {
    margin-bottom: var(--spacing-s);
    display: flex;
    flex-direction: column;
    .title-row {
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      .price {
        font-weight: bold;
      }
    }
  }
  .hasMultiple {
    padding-top: var(--spacing-l);
  }
  .header {
    font-weight: bold;
    &.margin-bottom {
      margin-bottom: var(--spacing-s);
    }
  }
  .customer {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .agreements,
    .info {
      margin-bottom: var(--spacing-xs);
    }
  }
}
